body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #631189;
    color: white;
}

.nav {
    background-color: white;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 0;
}

.navbar {
    display:inline;
    height: auto;
}

.navbar a {
    color: #631189;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    width: fit-content;
}
.navbar a:hover {
    background-color: #fae5f7; 
}
.active {
    color:plum;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: #631189;
    text-align: Left;
    font-size: 3.7em;
    margin-top:1%;
    
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.section {
    display: flex;
    flex-direction: row;
    margin: 10% 0;
    padding: 1%;
    width: 80%;
}
.left {
    flex:1;
}
    .left img {
        width: 100%;      
        height: auto;           
        
    }


.right {
    flex: 2;
    padding-left: 10px;
}
.section {
    flex-direction: row; 
}

footer {
    background-color: #631189;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
    
@media (max-width: 768px) {
    .nav { flex-direction: row; align-items: center; } 
.navbar a { padding: 10px; }
    .left img {
        width: 50%;
        height: auto;
    }
}
@media (max-width: 480px) {
    .nav { flex-direction: row; align-items: center; } 
.navbar a { padding: 8px; }
     .left img { width: 80%; height: auto; }
     
 h1 { font-size: 2.5em; } }
