body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#631189;
    background-color: #ffffff;
}

header {
    color: #ffffff; 
    text-align: left;
    padding: 20px 0;
    background-color: #631189;
}
nav {
    background-color:#f4f4f4;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 0.5%;

}
.nav {
    list-style: none;
    padding:0%;
    width: 100%;
    margin:0;

}
.navbar {
    list-style-type: none;
    padding: 0%;
    text-align: left;
    display: inline;

}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #631189;
    
}
.navbar a:hover {
    background-color: #fae5f7; 
}
.active{
    color:plum;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
}

#main-content {
    padding: 20px;
}

.image-text-section {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.small-image, .large-image {
    width: 60%;
    margin:1%;
    padding:5%;
    flex:0 1 auto;
}

.small-image h2, .large-image h2  {
    margin-bottom: 1%;
    margin:2%;
    text-justify: auto;

}

.small-image img {
    width: 50%;
    height: auto;
    float: right;
    margin-left: 5%;
    margin-top: 1%;
    text-align: justify;

}

.large-image img {
    width: 50%;
    height: auto;
    float: left;
    margin: 1%;
    margin-right:5%;
    margin-top:1%;
}

.video-section {
    display:flex;
    align-items: flex-start;
    margin-top: 20px;
    padding:0;
    text-align: left;
    clear: both;
}
.video-section video {
    width: 30%;
    height: auto;
    margin-right: 20px;
    padding: 2%;

}
.video-section text {
    width:40%;
    text-align: justify center;
}
p {
    justify-content: center;
    margin-top: 5%;
    padding: 0%;
    text-align: justify; 
}

footer {
    text-align: center;
    align-items: center;
    color: white;

    position: fixed;
    width:100%;
    bottom: 0;
    background-color: #631189; 
}
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    .navbar li {
        margin: 0 10px;
    }
    .small-image, .large-image {
        width: 100%; 
    }
    .video-section video {
        width: 90%;
    }
    footer {
        padding: 10px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        padding: 0;
    }
    nav {
        padding: 1%;
        
    }
    .navbar li {
        margin: 0 5px;
        
    }
    .navbar {
        justify-content: center;
        width: 100%;
    }
    .small-image{
        display: flex;
        flex-direction: rows;
        align-items: center;
        margin: 0;
        float: left;
    }
     .large-image{
        display: flex;
        flex-direction: rows;
        align-items: center;
        margin: 0;

    }
    .small-image img, .large-image img {
        width: 50%; 
        margin-right: 1%;
        margin-left: 0;
       
    }
    .video-section{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;
    }
    .video-section video {
        width: 80%;
    }
    p {
        font-size: 14px;
    }
}
footer{
    padding: 0;
    margin: 0;
}




@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar {
        justify-content: space-between;
        width: 100%;
    }
    .small-image, .large-image {
        width: 45%;
    }
    .video-section {
        align-items: flex-start;
    }
    footer {
        height: 20%;
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 812px) and (orientation: landscape) {
    .navbar {
        justify-content: center;
        width: 100%;
    }
    .small-image, .large-image {
        width: 100%;
    }
    .video-section video {
        width: 80%;
    }
    footer {
        font-size: 12px;
    }
}


@media (min-width: 1025px) {
    h1 {
        font-size: 48px;
    }
    .navbar li {
        margin: 0 15px;
        
    }
    .image-text-section {
        justify-content: space-around;
    }
    .small-image img, .large-image img {
        width: 80%; 
    }
    .video-section video {
        width: 40%;
    }
    footer {
        font-size: 16px;
        align-items: center;
    }
}